<div class="chat-item-wrapper">
    <div class="avatar" style="background-image: url({{avatar}})"></div>
    <div class="user-info">
        <span><b>{{username}}</b></span>
        <span>{{lastMessage}}</span>
    </div>
    <div class="message-info">
        <div class="time">{{time}}</div>
        <div class="message-counter">{{messageCounter}}</div>
    </div>
</div>